@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
#header {
  color: #6070FF;
  display: flex;
  font-family: 'poppins';
  font-weight: 700;
  font-size: 18px;
  justify-content: space-between;
}

#headline {
  background-image: url("images/header bg.svg");
  height: 100vh;
  background-repeat: no-repeat;
}

#introHeader {
  color: #172B4D;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

intro {
  color: #344563;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
}

#sociHeading {
  color: #6070FF;
  font-family: 'poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
}

#sociConnector {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 93px;
  height: 48px;
  left: 100px;
  top: calc(50% - 48px/2 + 57.5px);
  background: #FFFFFF;
  border: 1px solid #7F8CFF;
  border-radius: 8px;
}

